body {
  background-color: #fafafa;
  font-family: sans-serif;
  color: #543a3a;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: #e1eeff;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

.date {
  opacity: 0.7;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px dashed #c2cfd8;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 18px;
  color: #c2cfd8;
}
